<span class="contains-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="Exact">
      <option value="equals">Equals</option>
      <option value="notEquals">Not Equals</option>
    </optgroup>

    <!-- Contains Options -->
    <optgroup label="Contains">
      <option value="contains">Contains Phrase</option>
      <option value="notContains">Does Not Contain Phrase</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <option value="notExists">Not Exists</option>
    </optgroup>

  </select>

  <span class="rule-value-group" data-ng-if="inputNeeded()">
    <input
      type="text"
      class="form-control"
      placeholder="{{ guide.placeholder ? guide.placeholder : '' }}"
      data-ng-model="rule.value" />

    <span class="rule-value-helptext" data-ng-if="guide.helpText">
      {{ guide.helpText }}
    </span>
  </span>
</span>
