<span class="date-rule form-inline">
  <select data-ng-model="rule.subType" class="form-control">
    <optgroup label="Exact">
      <option value="equals">=</option>
    </optgroup>
    <optgroup label="Unbounded-range">
      <option value="lt">&lt;</option>
      <option value="lte">&le;</option>
      <option value="gt">&gt;</option>
      <option value="gte">&ge;</option>
    </optgroup>
    <optgroup label="Bounded-range">
      <option value="last">In the last</option>
      <option value="next">In the next</option>
    </optgroup>
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <option value="notExists">! Exists</option>
    </optgroup>
  </select>

  <div class="form-group" data-ng-if="inputNeeded()">
    <div class="input-group">
      <div class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group"><input type="text" class="form-control" data-ng-model="rule.date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="rule.date" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"/>
        </ul>
      </div>
    </div>
  </div>

  <span data-ng-if="numberNeeded()">
    <input type="number" class="form-control" data-ng-model="rule.value" min=0> days
  </span>

</span>
