<span class="date-rule form-inline">
  <span class="elastic-builder--select">
    <select data-ng-model="rule.subType" class="form-control">
      <optgroup label="Exact">
        <option value="equals">Equals</option>
        <option value="notEquals">Not Equals</option>
      </optgroup>
      <optgroup label="Unbounded-range">
        <option value="lt">&lt;</option>
        <option value="lte">&le;</option>
        <option value="gt">&gt;</option>
        <option value="gte">&ge;</option>
      </optgroup>
      <optgroup label="Bounded-range">
        <option value="last">In the last</option>
        <option value="next">In the next</option>
      </optgroup>
      <optgroup label="Generic">
        <option value="exists">Exists</option>
        <option value="notExists">Not Exists</option>
      </optgroup>
    </select>
  </span>

  <div class="form-group" data-ng-if="inputNeeded()">
    <div class="input-group">
      <input type="text" class="form-control" data-ng-model="rule.date" data-date-time-input="YYYY-MM-DDTHH:mm:ssZ" size=25>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span><i class="fa fa-calendar"></i></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="rule.date" data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"/>
        </ul>
      </div>
    </div>
  </div>

  <span data-ng-if="numberNeeded()">
    <input type="number" class="form-control" data-ng-model="rule.value" min=0> <span class="rule--text">days</span>
  </span>

</span>
