<span class="date-rule form-inline">
  <select data-ng-model="rule.subType" class="form-control">
    <optgroup label="Exact">
      <option value="equals">=</option>
    </optgroup>
    <optgroup label="Unbounded-range">
      <option value="lt">&lt;</option>
      <option value="lte">&le;</option>
      <option value="gt">&gt;</option>
      <option value="gte">&ge;</option>
    </optgroup>
    <optgroup label="Bounded-range">
      <option value="last">In the last</option>
      <option value="next">In the next</option>
    </optgroup>
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <option value="notExists">! Exists</option>
    </optgroup>
  </select>

  <div class="form-group" data-ng-if="inputNeeded()">
    <div class="input-group">
      <input type="text" class="form-control"

        datetimepicker
        datetimepicker-options="{icons:{next:'glyphicon glyphicon-arrow-right',previous:'glyphicon glyphicon-arrow-left',up:'glyphicon glyphicon-arrow-up',down:'glyphicon glyphicon-arrow-down'}}"

        placeholder="..."
        name="time"
        ng-model="rule.dateString">
    </div>
  </div>

  <span data-ng-if="numberNeeded()">
    <input type="number" class="form-control" data-ng-model="rule.value" min=0> days
  </span>

</span>
