<span class="match-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="Contains">
      <option value="matchAll">Contains All Words</option>
      <option value="matchAny">Contains Any Words</option>
      <option value="matchPhrase">Contains Phrase</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="Generic">
      <option value="exists">Exists</option>
      <option value="notExists">Not Exists</option>
    </optgroup>
  </select>

  <span class="rule-value-group">
    <input
      type="text"
      class="form-control"
      placeholder="{{ guide.placeholder ? guide.placeholder : '' }}"
      data-ng-model="rule.value" />

    <span class="rule-value-helptext" data-ng-if="guide.helpText">
      {{ guide.helpText }}
    </span>
  </span>

</span>
