<span class="match-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="{{ 'Contains' | translate }}">
      <option value="matchAll" translate>Contains All Words</option>
      <option value="matchAny" translate>Contains Any Words</option>
      <option value="matchPhrase" translate>Contains Phrase</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="{{ 'Generic' | translate }}">
      <option value="exists" translate>Exists</option>
      <option value="notExists" translate>Not Exists</option>
    </optgroup>
  </select>

  <span class="rule-value-group">
    <input
      type="text"
      class="form-control"
      placeholder="{{ guide.placeholder ? guide.placeholder : '' }}"
      data-ng-model="rule.value" />

    <span class="rule-value-helptext" data-ng-if="guide.helpText">
      {{ guide.helpText }}
    </span>
  </span>

</span>
