<span class="number-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <optgroup label="{{ 'Exact' | translate }}">
      <option value="equals" translate>Equals</option>
      <option value="notEquals" translate>Not Equals</option>
    </optgroup>
    <optgroup label="{{ 'Range' | translate }}">
      <option value="gt">&gt;</option>
      <option value="gte">&ge;</option>
      <option value="lt">&lt;</option>
      <option value="lte">&le;</option>
    </optgroup>

    <optgroup label="{{ 'Generic' | translate }}">
      <option value="exists" translate>Exists</option>
      <option value="notExists" translate>Not Exists</option>
    </optgroup>
  </select>

  <!-- Range Fields -->
  <span class="rule-value-group" data-ng-if="inputNeeded()">
    <input
      class="form-control"
      type="number"
      step="any"
      min="{{ guide.minimum }}"
      max="{{ guide.maximum }}"
      placeholder="{{ guide.placeholder ? guide.placeholder : '' }}"
      data-ng-model="rule.value" />

    <span class="rule-value-helptext" data-ng-if="guide.helpText">
      {{ guide.helpText }}
    </span>
  </span>
</span>
