<span class="term-rule">
  <select data-ng-model="rule.subType" class="form-control">
    <!-- Term Options -->
    <optgroup label="{{ 'Exact' | translate }}">
      <option value="equals" translate>Equals</option>
      <option value="notEquals" translate>Not Equals</option>
    </optgroup>

    <!-- Generic Options -->
    <optgroup label="{{ 'Generic' | translate }}">
      <option value="exists" translate>Exists</option>
      <option value="notExists" translate>Not Exists</option>
    </optgroup>

  </select>

  <span class="rule-value-group" data-ng-if="inputNeeded()">
    <input
      type="text"
      class="form-control"
      placeholder="{{ guide.placeholder ? guide.placeholder : '' }}"
      data-ng-model="rule.value" />

    <span class="rule-value-helptext" data-ng-if="guide.helpText">
      {{ guide.helpText }}
    </span>
  </span>
</span>
