<div class="elastic-builder-rule elastic-builder-rule-group">
  <div class="elastic-builder-group">
    <h5>If
      <span class="elastic-builder--select">
        <select data-ng-model="group.subType" class="form-control">
          <option value="and">all</option>
          <option value="or">any</option>
        </select>
      </span>
      of these conditions are met
    </h5>

    <div class="elastic-filter">
      <div
        class="elastic-filter-item"
        data-ng-repeat="rule in group.rules"
        data-elastic-builder-chooser="rule"
        data-elastic-fields="elasticFields"
        data-depth="{{ +depth + 1 }}"
        data-on-remove="removeChild($index)"></div>

      <div class="elastic-filter-item elastic-filter-item-actions">
        <div class="elastic-builder-rule">
          <a class="btn btn-sm btn-default" title="Add Sub-Rule" data-ng-click="addRule()">
            <i class="fa fa-plus"></i>
          </a>
          <a class="btn btn-sm btn-default" title="Add Sub-Group" data-ng-click="addGroup()">
            <i class="fa fa-list"></i>
          </a>
        </div>
      </div>
    </div>

    <a class="btn btn-sm btn-default remover" data-ng-click="onRemove()">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
